<!DOCTYPE html>
<html>
<head>
  <%- include("partials/head", { styles: ["detalle", "partials"] }) %>
  <title>DetalleDeUnProducto</title>
</head>

<body>
  <header>
    <%- include("partials/header") %>
  </header>

<!-- Modal -->
<div class="modal fade" id="concertModal" tabindex="-1" aria-labelledby="concertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="concertModalLabel">Eleccion de sector</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
          <div class="carousel-indicators">
            <% for (let i = 0; i < 5; i++) { %>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="<%= i %>" <% if (i === 0) { %>class="active" aria-current="true"<% } %> aria-label="Slide <%= i + 1 %>"></button>
            <% } %>
          </div>
      
          <div class="carousel-inner">
            <% for (let i = 0; i < 5; i++) { %>
              <div class="carousel-item <% if (i === 0) { %>active<% } %>" data-bs-interval="10000">
                <img src="https://indiehoy.com/wp-content/uploads/2020/01/movistar-arena-argentina-plano-espacios-interior-565x513.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <a type="button" href="checkout" class="btn btn-primary"> Sector <%= i + 1 %> </a>
                </div>
              </div>
            <% } %>
          </div>
      
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

  <div class="container d-flex justify-content-center"> 
    <div class="col-lg-4">
      <div class="card mb-4">
        <% if (concerts.image) { %>
          <img src="https://linsock.com.ar/soundstage/public/images/<%= concerts.image %>" class="card-img-top" alt="Concert Image">
        <% } else { %>
          <img src="https://picsum.photos/600/300" class="card-img-top" alt="Default Image">
        <% } %>
        <div class="card-body text-center"> 
          <h4 class="card-title a"><%= concerts.name %></h4>
          <h5 class="card-title b"><%= concerts.artista %></h5>
          <p class="card-text"><strong>Genero:</strong> <%= concerts.Generos.description %> </p>
          <p class="card-text"><strong>Fecha:</strong> <span id="formattedDate"></span></p>
          <p class="card-text"><strong>Direccion:</strong> <%= concerts.provincia %> <%= concerts.ciudad %></p>
          <p class="card-text"><strong>Precio: $<%= concerts.Sector.price %></strong> </p>
          <p class="card-text lorem"> <%= concerts.description %>  </p>
          <div class="card-buttons">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#concertModal">
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>
  <%- include("./partials/globalScripts") %>
  <script>
    function formatDateTime(dateTime) {
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
      const formattedDate = new Date(dateTime).toLocaleDateString('es-AR', options);
      const dayName = formattedDate.split(' ')[0];
      const capitalizedDayName = dayName.charAt(0).toUpperCase() + dayName.slice(1);
      return formattedDate.replace(dayName, capitalizedDayName);
    }
    const formattedDateElement = document.getElementById('formattedDate');
    const dateTime = '2023-10-19T14:30:00'; // Replace with your date value
    const formattedDate = formatDateTime(dateTime);
    formattedDateElement.textContent = formattedDate;
  </script>
</body>
</html>
