<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head", { styles: ["home", "partials"] }) %>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/css/home.css">
    <title>SoundStage</title>
</head>
<body>
    <header>
      <%- include("partials/header") %>
      <%- include("partials/headerIndex") %>
    </header>

    <main>

      <!-- 
        
        <section class="porGenero">
          <button class="buttonGradient2">Recitales</button>
          <button class="buttonGradient2">Rock</button>
          <button class="buttonGradient2">Pop</button>
          <button class="buttonGradient2">Teatro</button>
          <button class="buttonGradient2">Internacionales</button>
        </section>
      -->
        <section class="showsUltimoMomento">
            <h2>Shows de último momento</h2>
            
            <div class="boxes">
                <a href="/conciertos/detail/1" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/c74450cca629f0c19a2d7547e1aadf41.jpg" alt="img"></a>
                <a href="/conciertos/detail/2" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/f11fdfa79739e19515272db005c87b7a.jpg" alt="img"></a>
                <a href="/conciertos/detail/3" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/960fcb7e3085db27b8976c5b91438b5d.jpg" alt="img"></a>
                <a href="/conciertos/detail/4" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/2fee57b8a54e493a68702f11bfa3fe05.jpg" alt="img"></a>
                <a href="/conciertos/detail/5" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/e84f02fbfbb8c4abf0f336fd32f0421f.jpg" alt="img"></a>
                <a href="/todosLosConciertos"><p>Ver más</p></a>
            </div>
        </section>
        <section class="showsUltimoMomento">
            <h2>Tus artistas favoritos</h2>
            <div class="boxes">
              <a href="/conciertos/detail/6" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/00c2e7197dfc1aafc36309f5a6e4dedd.jpg" alt="img"></a>
              <a href="/conciertos/detail/7" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/2a299d90b3d7964e8e03c21797653e3e.jpg" alt="img"></a>
              <a href="/conciertos/detail/8" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/4d03f56cf32f49f763410c1ac133da22.jpg" alt="img"></a>
              <a href="/conciertos/detail/9" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/f6d0a6973319be65f266a8b2c53bacbe.jpg" alt="img"></a>
              <a href="/conciertos/detail/10" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/a31dd9d87e4bf7c9af22f30524147a81.jpg" alt="img"></a>
              <a href="/todosLosConciertos"><p>Ver más</p></a>
            </div>
        </section>
        <section class="showsUltimoMomento">
            <h2>Artistas del momento</h2>
            <div class="boxes">
              <a href="/conciertos/detail/11" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/024ba6610204e3ddc91823e624e27684.jpg" alt="img"></a>
              <a href="/conciertos/detail/12" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/3dbd4582e83f6293725ebeeb9b7ad551.jpg" alt="img"></a>
              <a href="/conciertos/detail/13" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/e3d52338d1b71207996eed1519f82892.jpg" alt="img"></a>
              <a href="/conciertos/detail/14" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/e1688d9714a51f2271b2e840dfcf4e26.jpg" alt="img"></a>
              <a href="/conciertos/detail/15" class="contenedor"><img src="https://linsock.com.ar/soundstage/public/images/7ddf2e1845d10fbbff97c3f8348f1975.jpg" alt="img"></a>
              <a href="/todosLosConciertos"><p>Ver más</p></a>
            </div>
        </section>


    </main>


    <footer>
      <%- include("partials/footer") %>
    </footer>


    <%- include("partials/globalScripts") %>
    
</body>
</html>