<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head", { styles: ["todosLosConciertos", "partials"] }) %>
</head>
<body>
    <%- include("./partials/header") %>
    <div class="container text-center">
      <% for (let i = 0; i < concerts.length; i++) { %>
        <% if (i % 3 === 0) { %>
          <div class="row">
        <% } %>

        <!-- Tarjeta con los datos -->
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="https://picsum.photos/600/300" class="card-img-top" alt="Concert Image">
            <div class="card-body">
              <h5 class="card-title a"> <%= concerts[i].name %> </h5>
              <h6 class="card-title b"> <%= concerts[i].artista %> </h6>
              <p class="card-text"> Genero: </p>
              <p class="card-text"> Fecha: <%= concerts[i].date %></p>
              <p class="card-text"> Direccion: <%= concerts[i].provincia %> <%= concerts[i].ciudad %></p>
              <a href="#" class="btn btn-primary">Agregar al carrito</a>
              <a href="conciertos/detail/<%= concerts[i].id %>" class="btn btn-primary">Detalles</a>
            </div>
          </div>
        </div>
        <!-- Tarjeta con los datos -->

        <% if ((i + 1) % 3 === 0 || i === concerts.length - 1) { %>
          </div>
        <% } %>
      <% } %>
    </div>
    <%- include("./partials/footer") %>
    <%- include("./partials/globalScripts") %>
</body>
</html>
